<!-- <!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Page</h1>
    <hr>
    <!-- using fragment --
    <div class="host-tag" th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base :: test(~{::#not_logged_in})}"></div>
    <section>
        <h1>User Logged in </h1>
        <H2>Dynamic Data</H2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, itaque nostrum maiores minima sit tempora fuga ad laboriosam aperiam atque!</p>
            <button>Click on Dynamic Content</button>
        </section>

        <section id="not_logged_in">
            <h1>User not logged in</h1>
        </section>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" 
th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>About Page</title>
</head>
<body>
    <div id="content">
        <h1>About Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, aliquam.
        </p>
    </div>
    <script>
        console.log("about page");
    </script>
</body>
</html>