<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/CSS/output.css'}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" /><!-- For Light/Dark Mode --

</head>
<body>
    <div class="bg-gray-200 w-1/2 p-4 flex flex-col space-y-3 mx-auto justify-center items-center">
    <h1 class="text-2xl font-bold" data-th-text="${name}">Welcome to Java Gate</h1>
    <p class="text-xl text-gry-700">LinkedIn : <span data-th-text="${LinkedIn}"></span></p>
    <P>Github : <span data-th-text="${Github}"></span></P>
    <a data-th-href="${Github}">Click Here to open</a>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident possimus, doloremque id at accusamus, 
        quidem assumenda commodi suscipit, animi nulla alias quae eligendi. Harum dolores placeat ipsa laborum facilis 
        consectetur hic error veritatis deserunt maxime labore, voluptatum asperiores nobis quibusdam numquam, laboriosam facere. 
        Dignissimos voluptatibus incidunt tempora, tenetur minus voluptates esse? Quod sit fuga atque adipisci minima? 
        Alias exercitationem a modi debitis nostrum magnam, ipsa perspiciatis placeat! Quod maxime mollitia nulla quam ab, 
        libero assumenda vitae unde consectetur, possimus temporibus. Officiis corrupti ratione nesciunt sapiente ipsa adipisci 
        quisquam enim voluptate velit, est facilis, consequatur odit tempora dicta? Blanditiis nisi reiciendis quaerat dolor 
        incidunt consequuntur magni nulla saepe. Tempora voluptate modi ducimus. Deserunt quia cupiditate, aspernatur, harum 
        impedit obcaecati pariatur porro consequatur, illo quae dignissimos eligendi! Cupiditate quo, ex iusto voluptates dolores 
        nam repellendus ut repudiandae distinctio, eligendi, reiciendis expedita tempora sunt fuga labore exercitationem dolor 
        dolorum libero quos nihil amet quam beatae.
    </p>
    <div>
        <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-600">Click Here</button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
</head>
<body>
    <div id="content">
        <h1>Home Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, aliquam.
        </p>
    </div>
    <script>
        console.log("home page");
    </script>
</body>
</html>