<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1 data-th-text="${name}">Welcome to Java Gate</h1>
    <p>LinkedIn : <span data-th-text="${LinkedIn}"></span></p>
    <P>Github Link : <span data-th-text="${Github}"></span></P>
    <a data-th-href="${Github}">Click Here to open</a>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt provident possimus, doloremque id at accusamus, 
        quidem assumenda commodi suscipit, animi nulla alias quae eligendi. Harum dolores placeat ipsa laborum facilis 
        consectetur hic error veritatis deserunt maxime labore, voluptatum asperiores nobis quibusdam numquam, laboriosam facere. 
        Dignissimos voluptatibus incidunt tempora, tenetur minus voluptates esse? Quod sit fuga atque adipisci minima? 
        Alias exercitationem a modi debitis nostrum magnam, ipsa perspiciatis placeat! Quod maxime mollitia nulla quam ab, 
        libero assumenda vitae unde consectetur, possimus temporibus. Officiis corrupti ratione nesciunt sapiente ipsa adipisci 
        quisquam enim voluptate velit, est facilis, consequatur odit tempora dicta? Blanditiis nisi reiciendis quaerat dolor 
        incidunt consequuntur magni nulla saepe. Tempora voluptate modi ducimus. Deserunt quia cupiditate, aspernatur, harum 
        impedit obcaecati pariatur porro consequatur, illo quae dignissimos eligendi! Cupiditate quo, ex iusto voluptates dolores 
        nam repellendus ut repudiandae distinctio, eligendi, reiciendis expedita tempora sunt fuga labore exercitationem dolor 
        dolorum libero quos nihil amet quam beatae. Consequatur, amet a. Molestias sunt in, laboriosam illo consequuntur laudantium, 
        totam hic eius assumenda quibusdam cum rerum neque atque iusto maiores necessitatibus tempora ullam nulla, incidunt quos 
        alias voluptate nihil. Magni expedita omnis iusto neque error debitis commodi temporibus nostrum repellat rerum consequatur, 
        sapiente fugiat possimus vitae ipsum quos ducimus ipsa fugit pariatur est ea! Tenetur officiis numquam molestias laudantium 
        nostrum quas rem harum sapiente iusto est nobis libero error asperiores eveniet possimus, velit dignissimos voluptatem 
        impedit quia ratione ipsa. Deleniti quibusdam quae voluptatibus provident ab, ipsum aut tempore, quos, mollitia non voluptate
         necessitatibus minus ipsa ex consequatur hic sint maiores. Quos nobis at quisquam, aut harum sint soluta officia iure 
         perspiciatis aliquam voluptas laudantium deleniti expedita ut consectetur est quaerat impedit. Tenetur voluptas laboriosam 
    </p>
</div>
</body>
</html>